/* GLOBAL */
:root {
	font-size: 62.5%;
}

.button {
	border: 1px solid #61dafb;
	color: #61dafb;
	border-radius: 1rem;
	font-size: 2rem;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn:hover {
	background-color: teal;
}

body {
	font-size: 1.6rem;
	background-color: #262b40;
}

/* POPUP */
.mainContainer {
	width: 40rem;
	height: 40rem;
	background-color: #262b40;
}

.contentContainer {
	margin-top: 1em;
	color: white;
}

.nav-item {
	background-color: teal;
}

.nav-link {
	color: white !important;
}

.nav-link.active {
	background-color: #41cc87 !important;
}

/* HOMEPAGE */
.homepageContainer {
	cursor: default;
	caret-color: transparent;
}

.timerContainer {
	width: 22rem;
	height: 22rem;
	border: 5px solid #61dafb;
	border-radius: 50%;
}

.timer {
	font-size: 1.8rem;
	text-align: center;
	line-height: 20rem;
}

.timer.timerActive {
	font-size: 5rem;
}

.timerLabel {
	font-size: 2rem;
	text-align: center;
	height: 4rem;
}

.buttonsContainer {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	justify-items: center;
}

/* OPTIONS PAGE */
.form-control {
	font-size: 1.5rem;
}

/* HELP PAGE */
.homepageContainer p {
	font-size: 1.5rem;
}
